/* You can add global styles to this file, and also import other style files */
html {
  background: #000;
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

h1, h2, h3 {
  margin: 0;
}
